/.env
backend/logs/
backend/webapps/
backend/api/.gradle/
backend/api/build/
backend/machine_learning/venv/ocr_venv
backend/machine_learning/out/ocr
backend/machine_learning/out/segmentation
backend/machine_learning/test